* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

li {
  list-style: none;
}

body {
  background-color: #121214;
}

header {
  align-items: center;
  border-bottom: 1px solid #20c2a2bb;
  display: flex;
  justify-content: center;
  height: 7vh;
  width: 100%;
  background-color: #213a42dc;
}

.page-navegation {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.page-navegation > a {
  padding-left: 5px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  margin: 0 3% 0 3%;
}

.page-navegation a:hover {
  color: #20c2a1;
  text-decoration: underline;
}

.linkedin-icon {
  height: 48px;
  width: 48px;
}

.img-home {
  width: 400px;
  margin-left: 20px;
}

.home-section {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  background-size: cover;
  flex-wrap: wrap;
}

.core-skills {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.core-skills > img {
  width: 35px;
}

hr {
  border: 1px solid #23f0c7;
  width: 100%;
}

.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-container p {
  width: 35vw;
  margin-top: 10%;
  font-size: 22px;
}

strong {
  color: #23f0c7;
}

.about-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.about-container h2 {
  color:#23f0c7;
  font-style: italic;
  font-size: xx-large;
  padding: 2% 0 2% 0;
}

.section-infos-about {
  display: flex;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text-about {
  width: 55%;
  margin-right: 2%;
}

.text-about p {
  font-size: 22px;
}

.section-infos-about img {
  border-radius: 20px;
  height: 400px;
  width: 370px;
}

.skills-section {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1%;
}

.skills-section > h2 {
  color: #23f0c7;
  font-style: italic;
  font-size: xx-large;
  padding: 1% 0 1% 0;
}

.all-skills {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  margin-top: 5px;
}

.skills-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.skills-container > ul {
  border: 1px solid #20c2a1;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 470px;
  height: 280px;
  background-color:rgb(19, 85, 76);
}

li {
  display: flex;
  width: auto;
  margin-top: 13px;
  align-items: center;
}

li > img {
  width: 40px;
}

li > p {
  margin: 0;
  margin-left: 10px;
}

.projects-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-section h2 {
  color: #23f0c7;
  font-style: italic;
  font-size: xx-large;
  padding: 2% 0 2% 0;
}

.allProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 65%;
}

.project {
  border: 2px solid #20c2a1;
  border-radius: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.proj-img {
  border-bottom: 1px solid #20c2a1;
  border-radius: 15px 15px 0 0;
  width: 300px;
  height: 310px;
}

.project:hover {
  opacity: 0.8;
  scale: 1.01;
}

.project p {
  margin: 10px;
  font-size: 14px;
}

.project p span {
  font-weight: 700;
  margin-right: 8px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 3px;
}

footer {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 5% 0 1% 0;
}

footer > section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer > p {
  font-size: 18px;
  font-weight: 700;
}

footer > section > a {
  border-radius: 5px;
  padding: 2px 1% 2px 1%;
  text-decoration: none;
  color: white;
}

footer > section > a:hover {
  background-color: #20c2a254;
}

.btn-div {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  width: 75%;
  flex-wrap: wrap;
}

.btn-home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #20c2a1;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  margin: 5px;
 }
 
 .btn-home:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #FFD401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 }
 
 .btn-home:hover::after {
  right: auto;
  left: 0;
  width: 100%;
 }
 
 .btn-home span {
  text-align: center;
  text-decoration: none;
  padding: 18px 25px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.1em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
 }
 
 .btn-home:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
 }
 
 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(1);
  }
 }
 