* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 241, 241);
}

/* Header Style */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(250, 250, 250, 0.938);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 100;
  height: 80px;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
}

.header-title > img {
  width: 70px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
}

.header-title > img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.page-navegation {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin-right: 20px;
}

.page-navegation > a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  padding-left: 10px;
}

.page-navegation > a:hover {
  color: #150578;
}

/* Home Style */

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

hr {
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-top: 1%;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.home-text {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2%;
  width: 90%;
}


button {
  display: inline-block;
  border-radius: 5px;
  background-color: #2f3061;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.25);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 
button span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}

button span:after {
 content: '»';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -15px;
 transition: 0.5s;
}

button:hover span {
 padding-right: 15px;
}
 
button:hover span:after {
 opacity: 1;
 right: 0;
}

/* About Style */

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.subtitle {
  font-size: 1.1rem;
}

.about-section > h2 {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 2rem;
  font-weight: 700;
}

.about-icon {
  width: 100%;
}

.about-container {
  margin: 1% 0 1% 0;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
}

.section-infos-about {
  width: 50%;
}

.section-infos-about > p {
  font-size: 1.2rem;
  margin-bottom: 2%;
}

.section-skills {
  width: 45%;
  margin-left: 5%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.stacks {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1%;
}

.stack {
  font-size: 1.2rem;
  background-color: rgba(163, 163, 163, 0.61);
  border-radius: 5px;
  padding: 8px;
  margin: 5px;
}

/* Projects Style */

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.projects-section > h2 {
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 2rem;
  font-weight: 700;
}

.projects-section > p {
  font-size: 1.1rem;
  margin-bottom: 2%;
  max-width: 50%;
}

.allProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.project {
  display: flex;
  margin: 1%;
  width: 60%;
  padding: 1%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

.div-img > img {
  width: 100%;
}

.div-img {
  width: 50%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

.proj-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15%;
}

.proj-infos {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.description {
  font-size: 1.1rem;
}

/* Contact Style */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 3%;
  padding-top: 3%;
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 2%;
}

.form-contact > div {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-bottom: 2%;
}

/* Footer Style */

.footer-container {
  text-align: center;
  padding: 1%;
  background-color: rgba(250, 250, 250, 0.938);
}

.footer-social {
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-nav > a {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 2px 1% 2px 1%;
}

.footer-nav > a:hover {
  background-color: rgba(163, 163, 163, 0.61);
}

.copyright {
  font-size: 0.8rem;
  margin-top: 1%;
}

.gh-link {
  color: black;
}

@media screen and (max-width: 1300px) {

  .div-img {
    width: 70%;
    display: flex;
    justify-content: center;

  }

  .proj-title {
    margin-bottom: 5%;
  }

  .proj-infos {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
  }

  .project {
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}